:root {
  --header: #ffffff;
  --portfolio: #2196f3;
  --header-logo: #212121;
  --header-logo-styles: #2196f3;
  --header-color: #ffffff;
  --header-items: #212121;
  --main-item-heading: #212121;
  --main-item-text: #757575;
  --main-skills-heading: #212121;
  --team: #f5f4fa;
  --team-name: #212121;
  --team-profession: #757575;
  --footer-logo-text: #ffffff;
  --hero: #2f303a;
  --hover-focus: #2196f3;
  --contacty: #757575;
  --footer-logo: #ffffff;
}

body {
  font-family: "Roboto";
}

.a {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* --------------------------------------------------------------GENERAL------------------------------------------------------------ */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}

.general {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.2;
}

.genera-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.item-heading {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------------------------------HEADER---------------------------------- */
.header {
  background: var(--header);
}
.header-logo {
  color: var(--header-logo);
}

.header-navigation {
  color: var(--header-navigation);
}
.header-logo-styles {
  color: var(--header-logo-styles);
}

.header-items {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--header-items);
}
.header-items:hover,
.header-items:focus {
  color: var(--hover-focus);
}

.header-contakty {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contacty);
}

.header-contakty:hover,
.header-contakty:focus {
  color: var(--hover-focus);
}

/* --------------------------------HERO------------------------------------- */
.hero {
  background: var(--hero);
}
.hero-list {
  font-family: inherit;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--header-color);
}

.hero-btn {
  background: var(--header-logo-styles);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--header-color);
}
/* -------------------------------------MAIN------------------------------- */
.main-sections {
  background: var(--header);
}

.main-item-heading {
  color: var(--main-item-heading);
}
.main-item-text {
  color: var(--main-item-text);
}

.main-skills-heading {
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-skills-heading);
}

/* ----------------------------------TEAM--------------------------------- */
.team {
  background: var(--team);
}
.team-heading {
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-skills-heading);
}

.team-name {
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--team-name);
}

.team-profession {
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--team-profession);
}

/* ------------------------------FOOTER------------------------------------- */
.footer {
  background: var(--hero);
}
.footer-logo {
  color: #2196f3;
}
.footer-logo-text {
  color: #ffffff;
}

.footer-item {
  color: var(--header-color);
}

.footer-list {
  color: rgba(255, 255, 255, 0.6);
}

/* ------------------------------------------PORTFOLIO------------------------------------------------------------ */

.portfolio {
  color: var(--portfolio);
}
/* -----------------------------------------MAIN---------------------------------------------------------------------- */
.portfolio-main {
  font-family: inherit;
  font-size: 16px;
  line-height: 1, 6;

  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--portfolio-main);
}

/* ------------------------------------------BTN---------------------------------------------------------------------- */
.portfolio-btn {
  color: #212121

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/* -----------------------------------------MAIN---------------------------------------------------------------------- */
.portfolio-img {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: var(--header-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* -----------------------------------------TEXT---------------------------------------------------------------------- */
.portfolio-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--items);
}
/* -----------------------------------------LIST---------------------------------------------------------------------- */
.portfolio-list {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 8;
  letter-spacing: 0.03em;

  color: var(--contakty);
}
.portfolio-kont {
  color: var(--header-color);
}

.button:button {
  color: var(--logo-color);
}
